body {
    padding-bottom: 20px;
    background-color: #000;
    color: #FFF;
}

/* Buttons */
.btn-default {
    background-color: #ffffff;
}

/* Modals */
.modal-content {
    background-color: #000;
    border: 1px solid #FFF;
}

.close, .close:hover {
    color: #FFF;
    opacity: 1;
}

/* Horizontal Lines */
hr {
    border-top: 1px solid rgba(255, 255, 255, 0.49);
}

/* Cards */
.card {
    background-color: #000;
    border: 1px solid rgba(255, 255, 255, 0.33);
}

.card-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.33);
    background-color: rgba(255, 255, 255, 0.15);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
