@{
    ViewData["Title"] = "Über den BierAlyzer Online";
}

<h4>Über den BierAlyzer Online</h4>

<div class="card" style="margin-top: 20px;">
        <div class="card-body" style=" font-size: .9rem;">
            Der BierAlyzer Online ist ein Projekt des <strong>Chapters Siegen</strong> des <strong>Aktionsbündnisses Durstiger Donnerstag n.e.V.</strong> und wurde nach dem Vorbild des ursprünglichen BierAlyzers entwickelt.
            <div class="text-center" style="margin-top: 15px;">
                <object data="~/images/D5_Logo_white.svg" type="image/svg+xml" style="width: 80%; max-width: 350px;">
                    Ihr Browser kann leider kein svg darstellen. Bitte wechseln Sie umgehend zu einem zeitgemäßen Browser.
                </object>
            </div>
        </div>
</div>

<div style="margin-top: 20px;"">
    <a href="http://www.durstiger-donnerstag.de/index.php?page=projekte#1" target="_blank">http://www.durstiger-donnerstag.de/</a>
</div>
<div class="card" style="margin-top: 20px;">
    <div class="card-header">Über den ursprünglichen BierAlyzer</div>
    <div class="card-body"style="font-style: italic; font-size: .9rem;">
        <p>Der BierAlyzer ist das Statistik- und Diagnosetool der Mitglieder des Durstigen Donnerstags. </p>
        <p>Mittels dieses hochtechnischen Geräts ist es möglich, Satistiken der erbrachten Leistungen während der Tagungen und Seminare erstellen zu können. Der Mitgliedsausweis der einzelnen Mitglieder dient hierbei mittels RFID-Technik als individuelles Identifizierungswerkzeug. </p>
        <p>Dieses Projekt vereint auf vorbildliche Art und Weise Hard- und embedded Softwareentwicklung.</p>
        <p style="margin-bottom: 0;">Der BierAlyzer war das erste Projekt, das mit einem DD-TECHNOLOGY AWARD ausgezeichnet wurde. </p>
    </div>
</div>