@model BierAlyzerWeb.Models.Management.ManageDrinkModel

<h5>@Model.Name</h5>

<div class="card" style="margin-top: 15px;">
    <div class="card-body" style="padding: 15px 15px 15px 15px;">
        <div class="row">
            <div class="col-6">
                <strong>Menge</strong>: @Model.Amount l
            </div>
            <div class="col-6">
                <strong>vol</strong>: @Model.Percentage%
            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
</div>