.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
    background-image: linear-gradient(0deg,#c20000 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,#FFF 1px,#FFF 0);
}

input.form-control {
    padding-left: 5px;
}

.btn.active, .btn.focus, .btn:active, .btn:focus, .btn:hover {
    background-color: #999999;
}

.bmd-label-static {
    color: #FFF;
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 0;
}

.form-group input.form-control {
    margin-top: -3px;
}

    .form-group .info {
        color: #FFF;
        font-size: .75rem;
    }

    .form-group .text-danger.field-validation-error {
        font-size: .75rem;
    }
