body {
    padding-bottom: 20px;
    background-color: #000;
    color: #FFF;
}

a {
    color: #FFF;
    text-decoration: underline;
}

    a:hover {
        color: #c20000;
    }

/* Buttons */
.btn-default {
    background-color: #ffffff;
}

/* Modals */
.modal-content {
    background-color: #000;
    border: 1px solid #FFF;
}

.close, .close:hover {
    color: #FFF;
    opacity: 1;
}

/* Horizontal Lines */
hr {
    border-top: 1px solid #7d7d7d;
}

/* Accordion */
.accordion .card:first-of-type {
    border-bottom: 1px solid #545454;
}

.accordion .card-header .fa-caret-down:before {
    content: "\f0d8";
}

.accordion .card-header.collapsed .fa-caret-down:before {
    content: "\f0d7";
}

/* Cards */
.card {
    background-color: #000;
    border: 1px solid #545454;
}

    .card .card-header {
        padding: .5rem 1rem;
        font-size: 1rem;
        border-bottom: 0px solid #545454 !important;
        background-color: #262626;
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
