@using BierAlyzerWeb.Helper
@model BierAlyzerWeb.Models.Account.SignUpModel

@section Style {
    <link href="~/css/typeahead.css" rel="stylesheet"/>
}

@section Scripts {
    <script type="text/javascript">
        var universities = [@WebHelper.BuildTypeaheadOrigins()];
    </script>
    <script src="~/js/typeahead.min.js" asp-append-version="true"></script>
}

@{
    ViewData["Title"] = "Registrieren";
}

@if (ViewData["Success"] != null && bool.TryParse(ViewData["Success"].ToString(), out bool success) && success)
{
    <div class="alert alert-success" role="alert">
        Die Registrierung war erfolgreich. <a asp-action="Login">Zum Login</a>
    </div>
}

<form asp-action="SignUp">
    <div class="row">
        <div class="col-md-2 hidden-xs-down"></div>
        <div class="col-12 col-sm-6 col-md-4 text-left" style="padding: 5px 15px;">
            <input asp-for="Mail" class="form-control" style="width: 100%;" placeholder="E-Mail" autocomplete="off" />
            <span asp-validation-for="Mail" class="text-danger"></span>
        </div>
        <div class="col-12 col-sm-6 col-md-4 text-left" style="padding: 5px 15px;">
            <input asp-for="Name" class="form-control" style="width: 100%;" placeholder="Name" autocomplete="off" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-md-2 hidden-xs-down"></div>
        <div class="col-md-2 hidden-xs-down"></div>
        <div class="col-12 col-sm-6 col-md-4 text-left" style="padding: 5px 15px;">
            <input asp-for="Origin" class="form-control typeahead" style="width: 100%;" placeholder="Universität" autocomplete="off" />
            <span asp-validation-for="Origin" class="text-danger"></span>
        </div>
        <div class="col-12 col-sm-6 col-md-4 hidden-xs-down"></div>
        <div class="col-md-2 hidden-xs-down"></div>
        <div class="col-md-2 hidden-xs-down"></div>
        <div class="col-12 col-sm-6 col-md-4 text-left" style="padding: 5px 15px;">
            <input asp-for="Password" class="form-control" style="width: 100%;" type="password" value="" placeholder="Passwort" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="col-12 col-sm-6 col-md-4 text-left" style="padding: 5px 15px;">
            <input asp-for="PasswordConfirmation" class="form-control" style="width: 100%;" type="password" value="" placeholder="Passwort bestätigen" />
            <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
        </div>
    </div>
    <div class="row text-center" style="margin-top: 15px;">
        <div class="col-sm-3 col-md-4"></div>
        <div class="col-12 col-sm-6 col-md-4">
            <button class="btn btn-default" style="width: 100%;">Registrieren</button>
        </div>
    </div>
</form>