@model BierAlyzer.Web.Models.Archive.ArchiveModel

@{
    ViewData["Title"] = "Event Archiv";
}

<div class="card">
    <div class="card-header">
        Vergangene Events
    </div>
    <div class="card-body" style="padding: 0 15px 15px 15px;">
        @if (Model.Events.Any())
        {
            @foreach (var e in Model.Events)
            {
                <a class="btn btn-sm btn-default" style="width: 100%; margin-top: 15px; color: #000; white-space: normal;" asp-action="Event" asp-route-id="@e.EventId">@e.Name</a>
            }
        }
        else
        {
            <span>Keine Events</span>
        }
    </div>
</div>